VS_VERSION_INFO VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName", "October Stations" "\0"
            VALUE "FileDescription", "Water Stations Monitoring System" "\0"
            VALUE "FileVersion", "1.0.0.0" "\0"
            VALUE "InternalName", "october_scada" "\0"
            VALUE "LegalCopyright", "Copyright (C) 2024" "\0"
            VALUE "OriginalFilename", "october_scada.exe" "\0"
            VALUE "ProductName", "October Stations" "\0"
            VALUE "ProductVersion", "1.0.0.0" "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END